.board {
  width: 550px;
  padding: 5px;
  margin-left: 10px;
}

header {
  text-align: justify;
  background-color: black;
  justify-content: space-between;
  display: flex;
}

.ssafy_logo {
  height: 70px;
  text-align: left;
}

.ham_btn {
  height: 40px;
  margin-top: 15px;
  margin-right: 10px;
  right: 0;
}

.ham_txt {
  background-color: black;
  opacity: 0;
  transition: all ease 0.2s;
  width: 550px;
  position: absolute;
  text-align: center;
  top: 80px;
}

.ham_btn:hover + .ham_txt{
  opacity: 1;
}

.menu {
  width: 100%;
  color: white;
  text-align: right;
  font-size: 30px;
}

h1 {
  font-weight: 400;
  line-height: 60%;
}

.info_div {
  padding: 20px;
  background-color: rgb(233, 233, 233);
  font-weight: bold;
}

.sub_info_div {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
}

.multicampus_logo {
  height: 50px;
  width: fit-content;
}

.btm_div {
  text-align: justify; 
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

.btm_info {
  width: fit-content;
  align-items: center;
}

.happy_img {
  width: 100%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.happy_char {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(28, 177, 231);
}

.effect {
  line-height: 1.2;
  background-image: linear-gradient(transparent 60%, #F8CD07 40%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.8s;
}

.effect:hover {
  background-size: 100% 100%;
}

.main_img {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main_img:hover {
  opacity: .5;
}

.happy_img:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}