<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .done {
      text-decoration: line-through;
    }

    .detail {
      position: fixed;
      top: 30%;
      left: 70%;
      background-color: white;
      border: 1px solid black;
      width: 300px;
    }
  </style>
</head>
<body>
  <!-- template -->
  <div id="app">
    <!-- 컴퓨티드 호출은 몇 번을 렌더하든 한 번만 호출하면 됨 -->
    <h1>현재 작성된 할일 목록: {{ countOfTodos }}</h1>
    <!-- <h1>현재 작성된 할일 목록: {{ countOfTodosMethod() }}</h1> -->
    <!-- v-for에 key 값 필수 -->
    <article v-if="isLogin">
      <div v-for="todo in todos" :key="todo.id">
        <div class="card" @click="goDetail(todo)">
          <p :class="{ done:todo.completed }">
            제목: {{todo.title}}
          </p>
          <p>완료 여부: {{todo.completed}}</p>
          <hr>
        </div>
      </div>
    </article>
    
    <article v-if="!isLogin">
      <form @submit.prevent="login">
        <label for="username">username: </label>
        <input type="text" name="username" id="username"
          v-model="username"
          @input="userNameValidator"
        >
        <p v-show="!userNameError.isValid">{{ userNameError.text }}</p>

        <label for="password">password: </label>
        <input type="password" name="password" id="password" v-model="password">

        <input type="submit" value="login">
      </form>
    </article>

    <section v-show="todo" class="detail">
      <button @click="closeDetail">X</button>
      <h1>{{ todo.id }}| {{ todo.title }}</h1>
      <p>userId : {{ todo.userId }}</p>
      <p>isCompleted : {{ todo.completed }}</p>
      
      <!-- 댓글 영역 -->
      <div v-for="comment in detailComments" :key="comment.postId">
        <p>{{ comment.id }} | {{ comment.body }}</p>
      </div>
    </section>

  </div>
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  <!-- vue 객체 작성 -->
  <script>
    const { createApp, ref, onMounted, computed, watch } = Vue
    const app = createApp({
      setup() {
        const isLogin = ref(false)

        // 반응형 객체 > 내부 요소가 변경될 때, Vue가 변경 사항을 파악하고,
        // 바뀐 데이터에 맞춰서 화면을 재 렌더링 할 수 있게 하기 위함.
        const todos = ref([])

        const todo = ref(false)
        const comments = ref([])
        const countOfTodos = computed(() => {
          console.log('computed')
          return todos.value.length
        })

        const countOfTodosMethod = function () {
          console.log('method')
          return todos.value.length
        }

        // const detailComments = computed(() => {
        //   return comments.value.filter(comments => {
        //     return comments.postId === todo.value.id
        //   })
        // })
        const detailComments = ref([])
        watch(todo, (newV, oldV) => {
          detailComments.value = comments.value.filter(comment => {
            return comment.postId === newV.id
          })
        })

        const goDetail = function (item) {
          todo.value = item
        }
        const closeDetail = function() {
          todo.value = false
        }

        // onMounted 함수 호출 시, callback function
        onMounted(() => {
          axios({
            methods: 'get',
            url: 'https://jsonplaceholder.typicode.com/todos'
          })
            .then((res => {
              todos.value = res.data.slice(0, 100)
              axios({
                methods: 'get',
                url: 'https://jsonplaceholder.typicode.com/comments'
              })
                .then((res => comments.value = res.data))
                .catch(err => console.log(err))
            }))
            .catch(err => console.log(err))
        })

        const login = function() {
          if (!userNameError.value.isValid) {
            console.log('유효성 검사 통과 실패')
          } else {
            if (username.value.trim() && password.value.trim()) {
              isLogin.value = true
            }
          }
        }

        const userNameError = ref({
          text:'',
          isValid: true
        })
        const password = ref('')
        const username = ref('')
        const userNameValidator = function() {
          if (username.value.length > 12) {
            userNameError.value.isValid = false
            userNameError.value.text = '이름은 12 글자 까지만 작성할 수 있습니다.'
          } else { 
            userNameError.value.isValid = true
            userNameError.value.text = ''
          }
        }

        return {
          todos, todo, comments, countOfTodos, isLogin, userNameError, 
          username, password,
          detailComments,
          goDetail, closeDetail, countOfTodosMethod, login,
          userNameValidator
        }
      }
    })

    app.mount('#app')
  </script>
</body>
</html>