{% extends 'base.html' %}

{% block content %}
  <h1>{{ author.nickname }}의 소설 목록</h1>
  <form action="{% url 'libraries:author_subscribed' author.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in author.subscribed_users.all %}
      <input type="submit" value="구독중">
      {% else %}
      <input type="submit" value="구독">
    {% endif %}
  </form>
  <ul>
    {% for book in books %}
      <li>{{ book.title }}</li>
      <li>{{ book.genre }}</li>
      <hr>
    {% endfor %}
  </ul>

{% endblock content %}