:root {
  --background: #1F1F1F;
  --border-color: #5A5A5F;
  --border-thickness: 0.5px;

  --box-red-color: #BA7363;
  --box-yellow-color: #DBB28C;
  --box-blue-color: #4A7A8E;
}

body {
  margin: 0;
  min-block-size: 100vh;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;

}

#demo {
  background-color: var(--background);
  inline-size: 652px;
  block-size: 638px;
  border: var(--border-thickness) solid var(--border-color);

  .box {
    --size: 100px;
    --radius: 6px;

    margin: 0;
    block-size: var(--size);
    inline-size: var(--size);
    border-radius: var(--radius);

    &[data-color="red"] {
      background-color: var(--box-red-color);
    }

    &[data-color="yellow"] {
      background-color: var(--box-yellow-color);
    }

    &[data-color="blue"] {
      background-color: var(--box-blue-color);
    }

    [class*="layout-"] {
      display: flex;
    }

    .layout-row {
      flex-direction: row;
    }

    .layout-column {
      flex-direction: column;
    }
  }
}